.lang {
  width: 30px;
  height: 30px;
}

.map {
  height: 300px;
}

.active-category {
  font-weight: bold;
  text-decoration: underline;
}

.active {
  border: 1px solid green;
}

.inactive {
  border: 1px solid red;
}

.carousel {
  width: 502px;
  margin: auto;
}